* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.app {
  
  
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  font-style: normal;
}


.app-bin {
  display: flex;
  justify-content: space-between;
  
}

.create-bin {
  text-align: center;
  align-items: center;
  margin: auto;
  padding: 10px;
}

.list-bin {
  text-align: center;
  align-items: center;
  margin: auto;
  padding: 10px;
}
.create-template {
  min-width: 450px;
  margin: 50px auto;
  padding: 20px;
  background: #f3f4f6;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: solid #000 1px;
}


.topic {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  
}

.create-template div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
/* .kolt-totalkm {
  padding-left: 30px;
} */

input[type="range"] {
  -webkit-appearance: none;
  width: 43%;
  height: 5px;
  background: #000;
  border-radius: 5px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: #000;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #000;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

input[type="text"] {

  background-color: rgb(221, 226, 224);
  border: solid black 1px;
  font-weight: 500;
  font-size: 16px;
}

input[type="date"] {
  padding: 6px 30px;
  border: solid black 1px;
  
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  background-color: rgb(221, 226, 224);
  cursor: pointer;
}

.radio {
  display: flex;
  justify-content: space-between;
  
  
}

.busy {
  padding-right: 20px;
  padding-left: 250px;
}

/* input[type="radio"] {
  accent-color: #000;
} */

.list-header {
  text-align: center;
  color: black;
  border: solid #000 1px;
  border-radius: 16px;
  background: #f3f4f6;
}

.list-body {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.list-group {
  width: 100%;
  border-collapse: collapse;
  border-radius: solid 1px;
  overflow: hidden;

}

.list-group th, 
.list-group td {
  padding: 12px 15px;
  text-align: left;
  
}


.list-group .actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

